services:
  teryl:
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    container_name: teryl
    build:
      context: ./
    ports:
      - '3000:3000'
    restart: 'no'
    environment:
      DATABASE_URL: 'postgresql://postgres:postgres@host.docker.internal:5432/teryl?schema=public'
      INTERNAL_RING_URL: http://host.docker.internal:3001/guilds
      REDIS_HOST: host.docker.internal
    env_file:
      - src/.env
      - src/.env.development.local

  postgres:
    container_name: teryl-postgres
    image: 'postgres:17-alpine'
    ports:
      - '5432:5432'
    restart: 'no'
    volumes:
      - 'teryl-postgres-data:/var/lib/postgresql/data'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=teryl
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready']
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

  redis:
    command: 'redis-server --port 8287 --requirepass redis'
    container_name: teryl-redis
    image: 'redis:alpine'
    ports:
      - '8287:8287'
    restart: 'no'
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli ping | grep PONG']
      interval: 1s
      timeout: 3s
      retries: 5

volumes:
  teryl-postgres-data:
